<section id="produkty narozeninovy-bot" class="product-header block block-one-column-1">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="product-header__wrap">
                    <div class="product-header__headline"><h1>{{ section.headline }}</h1></div>
                    <div class="product-header__text"><p>{{ section.content }}</p></div>
                    <a class="product-header__btn btn btn--default-inverse" href="#demo">CHCI DEMO</a>
                </div>
            </div>        
        </div>
    </div>
</section>